

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Bem vindo!
      <p class="subTitle">Acesso à conta</p>
    </ion-title>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Nome" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="ion-padding">
        <div class="forgotpassword">
          <p>Esqueceu a senha? Clique <a [routerLink]="['/reset-password']" style="color:#cc0000">aqui!</a></p>
        </div>
        <div class="signupLink">
          <p>Não tem conta? Registre-se agora <a [routerLink]="['/signup']" style="color:#cc0000">aqui!</a></p>
        </div>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>
