

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Bem vindo!
      <p class="subTitle">Acesso à conta</p>
    </ion-title>
  </div>

  <form [formGroup]="loginForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl['email'].errors?.['required']">
        <p>Email obrigatório!
        </ion-text>
        <ion-text *ngIf="errorControl['email'].errors?.['pattern']">
        <p>Email inválido!</p>
        </ion-text>
      </div>

      <ion-item>
        <ion-input placeholder="Senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <div *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl['password'].errors?.['required']">
        <p>Senha obrigatória!</p>
        </ion-text>
        <ion-text *ngIf="errorControl['password'].errors?.['pattern']">
        <p>Sua senha deve conter pelo menos 8 caracteres, sendo no mínino 1 letra maiúscula,
        1 letra minúscula, 1 número e 1 caractere especial.</p>
        </ion-text>
      </div>

      <div class="ion-padding">
        <div class="forgotpassword">
          <p>Esqueceu a senha? Clique <a [routerLink]="['/reset-password']" style="color:#cc0000">aqui!</a></p>
        </div>
        <div class="signupLink">
          <p>Não tem conta? Registre-se agora <a [routerLink]="['/signup']" style="color:#cc0000">aqui!</a></p>
        </div>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>
