

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Cadastre-se</ion-title>
  </div>

  <form>
    <div class="ion-padding">
      
      <ion-item>
        <ion-input placeholder="Nome" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-input placeholder="E-mail" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-input placeholder="Endereço" class="input"></ion-input>
        <ion-icon name="home-outline"></ion-icon>
      </ion-item>
      <br><br>
      <ion-item>
        <ion-input placeholder="Senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Confirme sua senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="ion-padding">
        <div class="jatemconta">
          <p>Já tem conta? Acesse <a [routerLink]="['/login']" style="color:#cc0000">aqui!</a></p>
        </div>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>
