

<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Insira seu email:</ion-title>
    <p class="subTitle">Para receber um link para restaurar sua senha. </p>
  </div>
  <div>
    <ion-item style="width: 90%; margin: auto auto;">
      <ion-input class="input" placeholder="E-mail"></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
  </div>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px;" class="ion-padding">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
